<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <div class= "container">
    <ul class="nav navbar-nav">
        {% if page.title != "Home" %}
            <li class="active"><button class= "btn btn-default navbar-btn">
                <a class="link" href="{{ site.url }}/"><i class="fa fa-fw fa-home"></i>Home</a>
            </button></li>
        {% endif %}

        {% if site.training == true %}
            {% if page.title != "Training" %}                
                   <button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/training">Training</a>
                    </button>
                
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </button>
            {% endif %}
        {% endif %}

        {% if site.services== true %}
            {% if page.title != "Services" %}
                <button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/services">Services</a>
                </button>
            {% endif %}
        {% endif %}
      
       {% if site.login== true %}
            {% if page.title != "Login" %}
                <button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/login">Monitoring</a>
                </button>
            {% endif %}
        {% endif %}"
        
        {% if site.about == true %}
            {% if page.title != "About" %}
                <button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </button>
            {% endif %}
        {% endif %}

        
        {% if site.resume == true %}
            <button class= "btn btn-default navbar-btn">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </button>
        {% endif %}
    </ul>

</div>

</nav>
