<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">    
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item"><button class= "btn btn-default navbar-btn">
                <a class="link" href="{{ site.url }}/"><i class="fa fa-fw fa-home"></i>Home</a>
            </button></li>
        {% endif %}

        {% if site.services== true %}
            {% if page.title != "Services" %}
                <li class="item"><button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/services">Monitoreo</a>
                </button></li>
            {% endif %}
        {% endif %}
      
        
        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item"><button class= "btn btn-default navbar-btn">
                    <a class="link" href="{{ site.url }}/about">Nosotros</a>
                </button></li>
            {% endif %}
        {% endif %}    
    </ul>
</nav>
