/*body customizations */
/*-----------------------------------*/
p {
    text-align: center;
}
h1 {
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* configurar contenedores deservices/monitoring system */
/*-------------------------------------------------------*/
.graficas-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map {
    flex: 1;
    width: 100%;
    min-height: 100px;  /*Altura mínima para Leaflet */
    height: 80%; /*Asegura que ocupe todo el espacio asignado */
}

.chart-container {
	flex: 1;
	padding: 0px;
	display: flex;
	flex-direction: column;
        }
        
#timeSeriesChart {
    flex: 1;
    width: 100%;
    min-height: 300px; /* Altura mínima para gráficos */
    height: 300%; /* Asegura que ocupe todo el espacio asignado */
    margin-bottom: 0px;
}
/*-------------------------------------------------------*/

.mi-div {
  /*border: 2px solid black;  Establece un borde */
  /*margin: 20px;              Establece un margen de 20px en todos los lados */
   margin-top: 10px;    /* Margen superior */
   margin-right: 300px;  /* Margen derecho */
   margin-bottom: 20px; /* Margen inferior */
   margin-left: 300px;   /* Margen izquierdo */
   padding: 10px;            /* Espacio interno dentro del borde */
}

/* Estilos para PC */
        .contenedor {
            margin: 50px; /* Márgenes grandes para PC */
            border: 2px solid black;
            padding: 20px;
        }

/* Estilos específicos para móviles */
        @media (max-width: 768px) {
            .contenedor {
                margin: 20px; /* Márgenes más pequeños para móviles */
                border: 2px solid red; /* Personalización del borde */
                padding: 10px;
            }
        }

        
/*Login customizations*/
/*-----------------------------------*/
.login-container {
            width: 300px; /* Ancho del contenedor */
            height: auto; /* Ajuste automático según el contenido */
            padding: 20px; /* Espaciado interior */
            margin: 50px auto; /* Centrar en la página */
            border: 2px solid #ccc; /* Borde */
            border-radius: 10px; /* Bordes redondeados */
            background-color: #f9f9f9; /* Color de fondo */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }
/* Estilos de los campos del formulario */
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 95%; /* Abarca todo el ancho del contenedor */
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }      

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 15px 10px;
  background-color: #218838;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 1px solid  #218838;
  cursor: pointer;
}

.buttonLogin {
  padding: 10px 20px; /*vertical_px  horizontal_px*/
  background-color: ##218838;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #28a745;
}

#error-message {
  color: red;
  margin-top: 10px;
}

/*-----------------------------------*/          
/* Tables customizations*/
/*-----------------------------------*/
.img-table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.price-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.price-table caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: white;
  margin-bottom: 16px;
}

.price-table thead tr {
  background-color: #db35db;
  color: #ffffff;
  text-transform:uppercase;
  letter-spacing:2%;
}

.price-table th, td {
  border: 1px solid black;
}

.price-table thead th {
  padding: 8px 9px;
}


.cell-highlight {
  background-color: gold;
  font-weight: bold;
}
/* Adding striped row styles to the table */
.price-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.price-table tbody tr:nth-child(even) {
  background-color: #eee;
}

.price-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* styling the left side header 
tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}*/

/*-----------------------------------*/
/*category-container customizations*/
/*-----------------------------------*/
.category-container{
  text-align:center;
}
.category-button{
  padding: 10px 15px;
  background-color: #1d1f1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 1px solid #1d1f1d;
  cursor: pointer;
}

/*Slide customizations*/
/*-----------------------------------*/

.slider-container {
    text-align: center;
}

.category-selector {
    margin-bottom: 15px;
}

.category-selector button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.category-selector button:hover {
    background-color: #0056b3;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*estilo de botones de control de mov */
.controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prevButton {
    background-color: #007bff;
    color: #fff;
}

#prevButton:hover {
    background-color: #0056b3;
}

#nextButton {
    background-color: #ffc107;
    color: #000;
}

#nextButton:hover {
    background-color: #e0a800;
}

#playButton {
    background-color: #28a745;
    color: #fff;
}

#playButton:hover {
    background-color: #218838;
}

#stopButton {
    background-color: #dc3545;
    color: #fff;
}

#stopButton:hover {
    background-color: #c82333;
}








