/*body customizations */
/*-----------------------------------*/
p {
    text-align: center;
}
h1 {
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* configurar contenedores de services/monitoreo energia electrica*/
/*-------------------------------------------------------------------*/
             /* configura contenedor head */
            .dashboard-container {
            max-width: 1400px;
            margin: 0 auto;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            }
            header {
            /*background-color: #28ad9e;*/
            background-color: #f4f4f4;
            color: white;
            padding: 15px 20px;
            }
            header h1 {
            font-size: 24px;
            font-weight: 500;
            }
            
            /* configura contenedor de controles (ordena en una fila y varias columnas)*/
            .dashboard-controls {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
            background-color: #f0f0f0;
            border-bottom: 1px solid #ddd;
            }
            .control-group {
            margin-right: 25px;
            margin-bottom: 10px;
            }
            .control-group label {

            display: block;
            margin-bottom: 5px;
            font-size: 14px;

            font-weight: 500;
            color: #333;
            }
            select, button {
            padding: 8px 12px;
            border-radius: 4px;

            border: 1px solid #ccc;
            font-size: 14px;
            }
            button { /* color del boton: Aplicar Filtros*/
            background-color: #00796b;
            color: white;
            border: none;
            cursor: pointer;

            transition: background-color 0.3s;
            }
            button:hover {/* resalta con el cursor color del boton: Aplicar Filtros*/

            background-color: #00897b;
            }
            
            /* configura Contenido: contenedores del mapa, curvas y barras*/
                     .dashboard-content {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 15px;

            padding: 15px;
            }
            
            @media (min-width: 992px) {
            .dashboard-content {
                grid-template-columns: 2fr 3fr; /* divide container content en proporsion  2 para mapa y 3 curva y barras*/
            }
            }
            
            .map-container {
            height: 500px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            
            .charts-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            }
                        
            .chart-container {
           /* height: 240px;**/
            border-radius: 8px;
            overflow: hidden;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            
          

/* configurar contenedores deservices/monitoring system */
/*-------------------------------------------------------*/
.graficas-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map {
    flex: 1;
    width: 100%;
    min-height: 100px;  /*Altura mínima para Leaflet */
    height: 100%; /*Asegura que ocupe todo el espacio asignado */
}

.chart-container {
	flex: 1;
	padding: 0px;
	display: flex;
	flex-direction: column;
        }
        
#timeSeriesChart {
    flex: 1;
    width: 100%;
    min-height: 300px; /* Altura mínima para gráficos */
    height: 300%; /* Asegura que ocupe todo el espacio asignado */
    margin-bottom: 0px;
}

#charts { padding: 20px; overflow-y: auto; }
.chart-container { margin-bottom: 20px; }
#time-range { margin-bottom: 20px; }
.slider-container { margin: 10px 0; }
canvas { max-width: 100%; }
/*h2, h3 { margin: 10px 0; }*/
@media (max-width: 768px) {
            #dashboard { grid-template-columns: 1fr; grid-template-rows: 50vh auto; }
        }
/*-------------------------------------------------------*/

.mi-div {
  /*border: 2px solid black;  Establece un borde */
  /*margin: 20px;              Establece un margen de 20px en todos los lados */
   margin-top: 10px;    /* Margen superior */
   margin-right: 300px;  /* Margen derecho */
   margin-bottom: 20px; /* Margen inferior */
   margin-left: 300px;   /* Margen izquierdo */
   padding: 10px;            /* Espacio interno dentro del borde */
}

/* Estilos para PC */
        .contenedor {
            margin: 50px; /* Márgenes grandes para PC */
            border: 2px solid black;
            padding: 20px;
        }

/* Estilos específicos para móviles */
        @media (max-width: 768px) {
            .contenedor {
                margin: 20px; /* Márgenes más pequeños para móviles */
                border: 2px solid red; /* Personalización del borde */
                padding: 10px;
            }
        }

        
/*Login customizations*/
/*-----------------------------------*/
.login-container {
            width: 300px; /* Ancho del contenedor */
            height: auto; /* Ajuste automático según el contenido */
            padding: 20px; /* Espaciado interior */
            margin: 50px auto; /* Centrar en la página */
            border: 2px solid #ccc; /* Borde */
            border-radius: 10px; /* Bordes redondeados */
            background-color: #f9f9f9; /* Color de fondo */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }
/* Estilos de los campos del formulario */
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 95%; /* Abarca todo el ancho del contenedor */
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }      

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 15px 10px;
  background-color: #218838;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 1px solid  #218838;
  cursor: pointer;
}

.buttonLogin {
  padding: 10px 20px; /*vertical_px  horizontal_px*/
  background-color: ##218838;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #28a745;
}

#error-message {
  color: red;
  margin-top: 10px;
}

/*-----------------------------------*/          
/* Tables customizations*/
/*-----------------------------------*/
.img-table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.price-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.price-table caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: white;
  margin-bottom: 16px;
}

.price-table thead tr {
  background-color: #db35db;
  color: #ffffff;
  text-transform:uppercase;
  letter-spacing:2%;
}

.price-table th, td {
  border: 1px solid black;
}

.price-table thead th {
  padding: 8px 9px;
}


.cell-highlight {
  background-color: gold;
  font-weight: bold;
}
/* Adding striped row styles to the table */
.price-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.price-table tbody tr:nth-child(even) {
  background-color: #eee;
}

.price-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* styling the left side header 
tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}*/

/*-----------------------------------*/
/*category-container customizations*/
/*-----------------------------------*/
.category-container{
  text-align:center;
}
.category-button{
  padding: 10px 15px;
  background-color: #1d1f1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 1px solid #1d1f1d;
  cursor: pointer;
}

/*Slide customizations*/
/*-----------------------------------*/

.slider-container {
    text-align: center;
}

.category-selector {
    margin-bottom: 15px;
}

.category-selector button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.category-selector button:hover {
    background-color: #0056b3;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*estilo de botones de control de mov */
.controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prevButton {
    background-color: #007bff;
    color: #fff;
}

#prevButton:hover {
    background-color: #0056b3;
}

#nextButton {
    background-color: #ffc107;
    color: #000;
}

#nextButton:hover {
    background-color: #e0a800;
}

#playButton {
    background-color: #28a745;
    color: #fff;
}

#playButton:hover {
    background-color: #218838;
}

#stopButton {
    background-color: #dc3545;
    color: #fff;
}

#stopButton:hover {
    background-color: #c82333;
}








