<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
    <div class="category-container">
        <button class="category-button" data-category="categoria1">Categoría 1</button>
        <button class="category-button" data-category="categoria2">Categoría 2</button>
        <button class="category-button" data-category="categoria3">Categoría 3</button>
    </div>

    <div class="slider-container">
        <div class="slider">
            <img id="slider-image" src="{{ '/assets/images/categoria1/imagen1.png' | relative_url }}" alt="Image Slider">
        </div>
        <div class="controls">
            <button id="prevButton">Previous</button>
            <button id="nextButton">Next</button>
            <button id="playButton">Play</button>
            <button id="stopButton">Stop</button>
        </div>
    </div>

    <script src="{{ '/assets/script.js' | relative_url }}"></script>
</body>
</html>

